<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freya.mybatis.dynamic.datasource.business.mapper.DeptMapper">
    <select id="getDeptList" resultType="com.freya.mybatis.dynamic.datasource.business.dto.DeptDto">
        select dept_no as deptNo,dept_name as deptName,location from dept;
    </select>
</mapper>